$mainRed: #D10019;
$mainGray: #787777;
$screen-md-max: 768px;

@mixin md-max {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

::-webkit-scrollbar {
  @include md-max() {
    display: none;
  }
}

body {
  background-color: #fff;
}

.main {
  flex-grow: 1;
}

.mainPadding {
  padding: 12px;
}

.redTitles {
  color: $mainRed;
  padding-left: 1rem;
}

.redTitlesNoPad {
  color: $mainRed;
}

.grayTitles {
  color: $mainGray;
  padding-left: 1rem;
}

.blackTitles {
  color: black;
  padding-left: 1rem;
}

.commentResponse {
  color: $mainRed;
  padding-left: 1.4rem;
  text-decoration: underline;
}

.p10Top {
  padding-top: 10px;
  //padding-right: 2rem;
  //padding-left: 1rem;
}

.underlineRed {
  text-decoration: underline;
  color: $mainRed;
}

.redButtons {
  color: $mainRed;
}

.redBackgrounds {
  color: $mainRed;
}

/* MENU */
.menuTitle {
  flex-grow: 1;
  color: #000;
  width: 1%;
}

.arrowColor {
  color: #000;
  padding-right: 25px;
  padding-left: 5px
}

.settingsColor {
  color: #000;
  padding-right: 5px
}

.menuColor {
  color: #000 !important;
  background-color: $mainRed;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;

}

.MuiAppBar-colorPrimary {
  background-color: #ffffff !important;
  //background-color: $mainRed !important;
}

/* END MENU */

/* WELCOME SCREEN */

.welcomeCategories {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center center;
}

.continueButton {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  justify-content: flex-end;
  padding: 10px;
  height: 60px;
}

.profileIconUp {

  transform: rotate(270deg);
}

/* END WELCOME SCREEN */

/* Feed */

.feedItem {
  padding-top: 30px
}

/* End Feed */

/* Community Feed */
.feedCommunityBottomRectangle {
  position: relative;
  top: 54%;
  color: white;
  background: black;
  height: 30px;
  padding: 0;
  width: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.communityTitle {
  //padding-top: 1rem;
  color: $mainRed;
  text-align: center;
}

.tags {
  background: $mainRed !important;
  color: white !important;
}

.category {
  background: white !important;
  border-style: solid !important;
  border-width: 0.5px !important;
}

.communityMembers {
  text-align: center;
}

.feedCommunityAvatarGroup {
  margin: auto;
  position: relative;
  top: 0%;
}

.feedCommunityCard {
  margin-right: 5px;
  height: 150px;
  overflow: initial !important;
  background-size: 125% !important;
  background-position: center !important;
}

.feedCommunityCardActions {
}

.feedCreateCommunity {
  background-color: rgba(0, 0, 0, 0.1) !important;
  height: 150px;
  overflow: initial !important;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*End Community Feed*/

/* Community*/
.communityBottomRectangle {
  position: relative;
  top: 74%;
  color: white;
  background: black;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags {
  background: $mainRed !important;
  color: white !important;
}

.category {
  background: white !important;
  border-style: solid !important;
  border-width: 0.5px !important;
}

.communityAvatarGroup {
  margin: auto;
  position: relative;
  top: 0%;
}

.communityCard {
  background-size: cover !important;
  background-position: center !important;
  //background-repeat: no-repeat !important;
  height: 270px;
}

.communityCardActions {
  padding: 0 !important;
  top: -12px;
  position: absolute;
}

.textNameRequests {
  padding: 1rem;
}

/*End Community*/

/*Discussion*/

.discussionActions {
  margin-right: 20%;
  display: inherit !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #D10019 !important
}

/*PROFILE COMMUNITIES*/

.profileCommunityBottomRectangle {

  position: relative;
  top: 55%;
  color: white;
  background: black;
  height: 80px;
  opacity: 0.8;
  padding: 0;
  width: 14rem;

}

.profileCommunityCardActions {
  padding: 0 !important;
  top: -12px;
  position: absolute;
  left: 35%;

}

.profileComTitle {

  text-align: center;
  top: -2rem;
}

.profileCommunityAvatarGroup {

  position: relative;
  top: -1rem;
}

//////////////////////////////////////////////////////
.ui.threaded.comments .comment .comments {
  margin: -1.5em 0 -1em 1.25em;
  padding: 3em 0em 2em 2.25em;
  -webkit-box-shadow: -1px 0px 0px rgba(34, 36, 38, 0.15);
  box-shadow: -1px 0px 0px rgba(34, 36, 38, 0.15);
}

.ui.dividing.header {
  padding-bottom: 0.21428571rem;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.comments {
  margin: 1.5em 0em;
  max-width: 650px;
}

.ui.comments:first-child {
  margin-top: 0em;
}

.ui.comments:last-child {
  margin-bottom: 0em;
}

.ui.comments {
  margin: 1.5em 0em;
  max-width: 650px;
}

.ui.comments:first-child {
  margin-top: 0em;
}

.ui.comments:last-child {
  margin-bottom: 0em;
}

/*--------------
     Comment
---------------*/

.ui.comments .comment {
  position: relative;
  background: none;
  margin: 0.5em 0em 0em;
  padding: 0.5em 0em 0em;
  border: none;
  border-top: none;
  line-height: 1.2;
}

.ui.comments .comment:first-child {
  margin-top: 0em;
  padding-top: 0em;
}

/*--------------------
    Nested Comments
---------------------*/

.ui.comments .comment .comments {
  margin: 0em 0em 0.5em 0.5em;
  padding: 1em 0em 1em 1em;
}

.ui.comments .comment .comments:before {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ui.comments .comment .comments .comment {
  border: none;
  border-top: none;
  background: none;
}

/*--------------
     Content
---------------*/

.ui.comments .comment > .content {
  display: block;
}

/*--------------
     Author
---------------*/

.ui.comments .comment .author {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
}

.ui.comments .comment a.author {
  cursor: pointer;
}

.ui.comments .comment a.author:hover {
  color: #1e70bf;
}

/*--------------
     Metadata
---------------*/

.ui.comments .comment .metadata {
  display: inline-block;
  margin-left: 0.5em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875em;
}

.ui.comments .comment .metadata > * {
  display: inline-block;
  margin: 0em 0.5em 0em 0em;
}

.ui.comments .comment .metadata > :last-child {
  margin-right: 0em;
}

/*--------------------
     Comment Text
---------------------*/

.ui.comments .comment .text {
  margin: 0.25em 0em 0.5em;
  font-size: 1em;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3;
}

/*--------------------
     User Actions
---------------------*/

.ui.comments .comment .actions {
  font-size: 0.875em;
}

.ui.comments .comment .actions a {
  cursor: pointer;
  display: inline-block;
  margin: 0em 0.75em 0em 0em;
  color: rgba(0, 0, 0, 0.4);
}

.ui.comments .comment .actions a:last-child {
  margin-right: 0em;
}

.ui.comments .comment .actions a.active,
.ui.comments .comment .actions a:hover {
  color: rgba(0, 0, 0, 0.8);
}

/*--------------------
      Reply Form
---------------------*/

.ui.comments > .reply.form {
  margin-top: 1em;
}

.ui.comments .comment .reply.form {
  width: 100%;
  margin-top: 1em;
}

.ui.comments .reply.form textarea {
  font-size: 1em;
  height: 12em;
}

/*******************************
            State
*******************************/

.ui.collapsed.comments,
.ui.comments .collapsed.comments,
.ui.comments .collapsed.comment {
  display: none;
}

/*--------------------
        Threaded
---------------------*/

.ui.threaded.comments .comment .comments {
  margin: -1.5em 0 -1em 1.25em;
  padding: 3em 0em 2em 2.25em;
  -webkit-box-shadow: -1px 0px 0px rgba(34, 36, 38, 0.15);
  box-shadow: -1px 0px 0px rgba(34, 36, 38, 0.15);
}

.ui.mini.comments {
  font-size: 0.78571429rem;
}

.ui.tiny.comments {
  font-size: 0.85714286rem;
}

.ui.small.comments {
  font-size: 0.92857143rem;
}

.ui.comments {
  font-size: 1rem;
}

.ui.large.comments {
  font-size: 1.14285714rem;
}

.ui.big.comments {
  font-size: 1.28571429rem;
}

.ui.huge.comments {
  font-size: 1.42857143rem;
}

.ui.massive.comments {
  font-size: 1.71428571rem;
}

.ui.comments .comment .actions {
  font-size: 0.875em;
}

.ui.comments .comment .actions a {
  cursor: pointer;
  display: inline-block;
  margin: 0em 0.75em 0em 0em;
  color: rgba(0, 0, 0, 0.4);
}

.ui.comments .comment .actions a:last-child {
  margin-right: 0em;
}

.ui.comments .comment .actions a.active,
.ui.comments .comment .actions a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.ui.comments .comment .metadata {
  display: inline-block;
  margin-left: 0.5em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875em;
}

.ui.comments .comment .metadata > * {
  display: inline-block;
  margin: 0em 0.5em 0em 0em;
}

.ui.comments .comment .metadata > :last-child {
  margin-right: 0em;
}

.ui.comments .comment .text {
  margin: 0.25em 0em 0.5em;
  font-size: 1em;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3;
}

//stupid fixes
.ui.comments .comment .actions a {
  margin-right: 0 !important;
}

.MuiList-padding {
  padding-top: 0 !important;
}

.MuiTab-textColorSecondary.Mui-selected, .MuiTypography-colorSecondary{
  color: $mainRed !important;
}

.PrivateTabIndicator-colorSecondary-404, .PrivateTabIndicator-colorSecondary-598, .PrivateTabIndicator-colorSecondary-3304, .PrivateTabIndicator-colorSecondary-1250, .PrivateTabIndicator-colorSecondary-371 {
  background-color: $mainRed !important;
}